/* Removendo scroll horizontal */
html, body {
    max-width: 105%;
    overflow-x: hidden;
    /*background: url("../images/background3.jpg") no-repeat;*/
    background-size: cover;
}

.brand-icon {
	position: relative;
    top: -16px;
    height: 52.156px;
}


/* Início da customização */

/* ====== Início da customização de CONTAINER ====== */

.container-fluid-footer-space {
	margin-bottom: 60px;
}

/* ====== Fim da customização de CONTAINER ====== */

/* ====== Início da customização de ROWS ====== */

.row-space {
	margin-top: 10%;
	padding-left: 3%;
}

.row-centered {
    text-align:center;
}

/* ====== Fim da customização de ROWS ====== */

/* ====== Início da customização de COLS ====== */

.col-margin-1p {
	margin-left: 1.5%;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

/* ====== Fim da customização de COLS ====== */

/* ====== Início da customização de BUTTONS ====== */

.big-button {
	height: 100px;
	border-color: black;
}

.rsvp-button {
    height: 100px;
    width: 90%;
    border-color: black;	
}

/* ====== Fim da customização de BUTTONS ====== */

/* ====== Início da customização de TEXT ====== */

.text-vertical-center {
	text-align: center;
	line-height: 80px;
}


.main-icon-accordion {
	margin-left: 50%;
}

/* ====== Ajuste qnd for device para os botões do RSVP ====== */

@media screen and (max-width: 390px) {
    .btn-height {
    	margin-left: 5% !important;
    }
    
    .btn-group-rsvp {
    	padding: 10px 70px !important;
    }
    
    .rsvp-main-label {
    	font-size: 140% !important;
    	padding: 25px 2% !important;
    }
}

.navbar-inverse .navbar-brand {
	color: #000;
}

.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #000;
}

.nav-bar-custom {
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));*/
	background: linear-gradient(to right, #4BB4F1, #0F459B);
	border-radius: 5px;
}

.navbar-inverse .navbar-nav > li > a {
	color: white;
}