/* Removendo scroll horizontal */
html, body {
    max-width: 100%;
    overflow-x: hidden;
    height: 95%;
}

/* Início da customização */

/* ====== Início da customização de CONTAINER ====== */

.container-fluid-footer-space {
	margin-bottom: 60px;
}

/* ====== Fim da customização de CONTAINER ====== */

/* ====== Início da customização de ROWS ====== */

.row-space {
	margin-top: 10%;
	padding-left: 3%;
}

.row-centered {
    text-align:center;
}

/* ====== Fim da customização de ROWS ====== */

/* ====== Início da customização de COLS ====== */

.col-margin-1p {
	margin-left: 1.5%;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

/* ====== Fim da customização de COLS ====== */

/* ====== Início da customização de BUTTONS ====== */

.big-button {
	height: 100px;
	border-color: black;
}

.rsvp-button {
    height: 100px;
    width: 90%;
    border-color: black;	
}

/* ====== Fim da customização de BUTTONS ====== */

/* ====== Início da customização de TEXT ====== */

.text-vertical-center {
	text-align: center;
	line-height: 80px;
}