.fim-margin {
	margin-top: 10%;
}

@media ( max-width : 750px) {
	.fim-margin {
    	margin-top: 15% !important;
	}
}

@media ( max-width : 400px) {
	.fim-margin {
    	margin-top: 25% !important;
	}
}

.fim-icon {
	text-align: center;
	display: block;
	font-size: 100px;
	color: #0F7ED7;
}