.rsvp-main-label {
	font-family: arial;
	font-size: 300%;
	padding: 15px 2%;
	border: solid 1px;
	border-radius: 5px;
    word-wrap: break-word;
    min-width: 80%;
    min-height: 92px;
    background-color: white;
}

.rsvp-label-text {
	color: black;
}

.rsvp-margin-15 {
    margin-top: 15%;
}

.btn-height {
	height: 61px;
}

.rsvp-padding-10 {
	padding: 10px;	
}

.rsvp-play-icon {
	font-size: 300%;
}

.rsvp-btn-dropdown{
	width: 100%;
}

.rsvp-btn-radius {
	border-radius: 10px !important;
}

.rsvp-text-area {
	border-left-style: outset;
}

.rsvp-li-pad {
	padding: 1px;	
}

.rsvp-dropdown {
	top: 90%;
	width: 100%;
	background-color: transparent !important;
    border: none;
}

.tooltip > .tooltip-inner {
      padding: 10px;
      font-size: 15px;
}

.glyphicon-refresh-animate {
   -webkit-animation: spin2 .7s infinite linear;
    position: absolute;
    left: 45%;
    top: 14%;
    font-size: 60px;
    background-color: #fff;
    color: #5bc0de;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@media ( max-width : 500px) {
	.rsvp-margin-15 {
    	margin-top: 25%;
	}
}

