.sf-margin-10 {
	margin-top: 15%;
}

.sf-btn-center {
    display: block;
    margin: auto;
    width: 80%;
    height: 50px;
}

.sf-center-text {
	padding: 2% 10% 0% 12%;
}

.sf-center-text-same-line {
	padding: 0 0 0 12%;
}

@media ( max-width : 500px) {
	.sf-margin-15 {
    	margin-top: 15%;
	}
}