.tt-margin-top-10 {
	margin-top: 10%;
}

div.tt-div{
  transition: 0.2s ease-in-out;
}
div.tt-div:hover {
  -webkit-transform: scale(1.1);
  cursor: pointer;
  opacity: 0.6;
}

.tutorial-icon-red {
	font-size: 50px;
	color: #a94442; 
}

.tutorial-icon-yellow {
	font-size: 50px;
	color: orange;
}

.tutorial-icon-green {
	font-size: 50px;
	color: #3c763d;
}

@media ( max-width : 750px) {
	.tt-margin-top-10 {
    	margin-top: 25%;
	}
}